@import './styles/main.scss';

.App {
	height: 100vh;
	background: color(bg);
	display: grid;
	grid-template-columns: 300px 1fr;
	grid-template-rows: 80px 1fr;
}

.page-content {
	grid-row: 2;
	grid-column: 2;
}

.page-content.fullsize {
	grid-column: span 2;
}

