@import '../../styles/main.scss';

.header {
	padding: 0 1rem;
	grid-column: span 2;
	grid-row: 1;
	background: color(fieldBg);
	display: grid;
	grid-auto-flow: column;
	justify-content: space-between;
	align-items: center;
	border-bottom: 1px solid color(lineBg);
	grid-template-columns: max-content 0.3fr max-content;
	column-gap: 1rem;
}

.options {
	display: grid;
	grid-auto-flow: column;
	column-gap: 1rem;
}

.add {
	@include btn-primary-l;
}

.hidebar,
.logout,
.delete,
.edit {
	@include btn-secondary-l;
}

.delete {
	color: $color-white;
	background: $color-red;
	&:hover {
		background: $color-red-hover;
	}
}

/* Media */
@include media(md, mx) {
	.header {
		padding-top: 1rem;
		padding-bottom: 1rem;
		grid-template-columns: 1fr 1fr;
		grid-template-rows: repeat(3, max-content);
		row-gap: 1rem;
	}

	.option {
		grid-column: 1;
	}

	.logout {
		grid-column: 2;
	}

	.bar {
		grid-row: 2px;
		grid-column: span 2;
	}
}

@include media(sm, mx) {
	.logout {
		&__span {
			display: none;
		}
	}
}

