@import '../../../styles/main.scss';

.note {
	display: grid;
	grid-template-columns: 1.7fr 0.3fr;
	grid-template-rows: repeat(2, max-content);
	justify-content: space-between;
	row-gap: 0.25rem;
	padding: 1rem;
	background: color(bg);
	border-radius: $border-radius;

	&:hover {
		cursor: pointer;
	}
}

.item.active {
	outline: 2px solid $color-main-purple;
}

.title {
	grid-row: 1;
	grid-column: span 2;
	color: color(title);
}

.show {
	@include btn-primary-s;
}

.filters {
	grid-column: span 2;

	&__list {
		display: flex;
		flex-wrap: wrap;
		gap: 0.25rem;
	}

	&__item {
		@include btn-secondary-l;
		background: color(fieldBg);
		font-weight: 500;
	}
}

.date {
	grid-column: span 2;
	display: grid;
	align-items: center;
	color: $color-main-purple;
	@include body-m;
}

