@import '../../styles/main.scss';

.theme {
	@include btn-secondary-l;

	&:hover {
		color: $color-white;
	}
}

.switch {
	position: relative;
	display: inline-block;
	height: 1.25rem;
	width: 2.5rem;
}

.accent {
	color: $color-main-purple;
}

