@import '../../../styles/main';

.field {
	display: grid;
	grid-template-columns: 1fr;
	grid-template-rows: max-content max-content 3.5rem;
	width: 100%;
}

.label {
	display: grid;
	grid-auto-flow: column;
	grid-template-columns: max-content 1fr;
	column-gap: 0.5rem;
	justify-content: start;
	grid-column: span 2;
	grid-row: 1;
}

.tooltip {
	display: grid;
	align-items: center;
	position: relative;
	width: 100%;

	&:hover {
		cursor: pointer;
	}

	&__icon {
		color: $color-main-purple;

		&:hover {
			cursor: pointer;
		}
	}

	&__span {
		display: none;
		position: absolute;
		left: 0.2rem;
		bottom: 1.5rem;
		background: color(bg);
		padding: 0.5rem;
		color: color(title);

		&:after {
			content: '';
			position: absolute;
			top: 100%;
			left: 5px;
			margin-left: -5px;
			border-width: 5px;
			border-style: solid;
			border-color: color(bg) transparent transparent transparent;
		}
	}
}

.tooltip:hover .tooltip__span {
	display: grid;
	align-items: center;
	justify-content: center;
}

.error {
	grid-column: span 2;
	grid-row: 2;
	margin-bottom: 0.5rem;
}

.input {
	all: unset;
	grid-row: 3;
	grid-column: span 2;
}

.label {
	display: grid;
	align-items: center;
	padding: 0;
	margin: 0;
	color: color(subTitle);
	text-transform: capitalize;
}

.error {
	display: grid;
	align-items: center;
	color: $color-red;
	opacity: 0;
}

.input {
	padding: 0 1.5rem;
	border-radius: $border-radius;
	color: color(title);
	border: 1px solid color(lineBg);

	&::placeholder {
		opacity: 0.35;
	}

	&:placeholder-shown {
		color: color(title);
	}

	&:focus {
		outline: 2px solid $color-main-purple;
	}
}

.input:invalid[focused='true'] ~ .error {
	opacity: 1;
}

.input:invalid[focused='true'] {
	outline: 1px solid $color-red;
}
.input:invalid[focused='true'] ~ .label {
	color: $color-red;
}

