@import '../../styles/main';

.page {
	height: calc(100% - 2rem);
	width: calc(100% - 2rem);
	padding: 1rem;
	overflow-x: hidden;
	display: grid;
	grid-auto-columns: 1fr;
	grid-auto-rows: 1rf;
}

.body {
	display: block;
}

.textfield {
	color: color(subTitle);
	height: 100%;
}

.msg {
	@include heading-m;
	color: color(subTitle);
}

